DATABASE_URL="postgresql://root:rootpassword@localhost:5433/agency_master_db?schema=public"
GOOGLE_DRIVE_FOLDER_ID="your_folder_id"
PRISMA_CLIENT_ENGINE_TYPE="library"

GOOGLE_CLIENT_ID="your_client_id"
GOOGLE_CLIENT_SECRET="your_client_secret"
GOOGLE_REFRESH_TOKEN="your_refresh_token"

RESEND_API_KEY="your_resend_key"

NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET="your_nextauth_secret"

# AI Analiz için gerekli
OPENAI_API_KEY="your_openai_api_key_here"